{% load static %}
<!Doctype html>
<html>
    <head>
        <title>Viamax</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="ui segment">
            <img class="ui small image logo" style="margin-bottom: -10%; margin-top: -7%" src="{% static 'images/viamax.png'%}">
            <div style="
                background-color: white;
                border-radius: 5px;
                width: 600px;
                margin-left: 30%;
                font-family: sans-serif;
                position: center;
            ">
                <table style="width: 600px; margin-left: 15px;">
                    <thead>
                        <tr>
                            <th colspan="3">TIPOS DE CAMBIO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pagador in object_list %}
                        <tr>
                        <td>
                            <img
                                style="
                                    width: 120px;
                                    height: 40px;
                                " 
                                src="{% static 'images/logos/' %}{{ pagador.logo_base64 }}"
                            </img>
                        </td>
                        <td>{{ pagador.pagador }}</td>
                        <td>{{ pagador.tipo_cambio }}</td>
                        <td>
                            
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">
                            
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
    <footer></footer>
</html>